<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- http://logback.qos.ch/manual/appenders.html#AsyncAppender -->
    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>false</neverBlock>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root>
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook">
        <delay>500</delay>
    </shutdownHook>

</configuration>